<div id="background">	
	<div class="container main-container mid-container">
		<h1>Precisa de ajuda?</h1>
		<form action="https://formspree.io/f/mqknprab" method="POST">
			<div class="mid-container">
				<label>
					seu email:
					<input type="email" name="_replyto">
				</label>
			</div>
			<div class="mid-container">
				<label>
					sua pergunta:
					<textarea name="message"></textarea>
				</label>
			</div>
			<!-- your other form fields go here -->
			<br>
			<div class="mid-container">
				<button type="submit">Send</button>
			</div>
		</form>
	</div>
</div>